*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container{
    display:grid;

    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:
        60px
        50px
        320px
        80px
        220px
        80px;

    grid-template-areas:
        "header header header"
        "nav nav nav"
        "main main main"
        "title title title"
        "sidebar1 sidebar2 sidebar3"
        "footer footer footer";

}

/* エリア配置 */
.header{ grid-area:header; }
.nav{ grid-area:nav; }
.main{ grid-area:main; }
.title{ grid-area:title; }
.sidebar1{ grid-area:sidebar1; }
.sidebar2{ grid-area:sidebar2; }
.sidebar3{ grid-area:sidebar3; }
.footer{ grid-area:footer; }

/* 見た目 */
.header,
.main,
.sidebar1,
.sidebar2,
.sidebar3,
.footer{
    background:#ccc;
}

.nav{
    background:#e91e63;
    color:white;
}

.header,
.nav,
.main,
.title,
.sidebar1,
.sidebar2,
.sidebar3,
.footer{
    display:flex;
    justify-content:center;
    align-items:center;
}

.title h1{
    font-size:40px;
}